.globalWrapper{
  background-color: #1DE9B6;
  width: 100%;
  height: 100%;
  margin: 0px;
}

/*WRAPPER LOGIN*/
.wrapperLogin {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fbButton {
  max-width: 250px;
  max-height: 55px;
  width: 90%;
  margin-top: 25px;
}

.title, .subtitle {
  font-family: Avenir;
  color: #304FFE;
}

.title {
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 0px;
}


/*DISPLAY WRAPPER*/

.displayWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*TOP BAR WRAPPER*/
.topBarWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #304FFE;
  height: 50px;
}

.titleTopBar {
  color: white;
  font-size: 20px;
  font-family: Avenir;
  margin: 0px;
}

/*WRAPPER EMOTION BARS*/

.wrapperEmotionBar {
  margin-top: 50px;
  display: flex;
  background-color: yellow;
  width: 60%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
}

.emotionBar {
  border: 1px solid white;
  background-color: green;
  width: 49%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotionBarActive {
  border: 1px solid white;
  background-color: red;
  width: 49%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotionLabel {
  font-family: Avenir;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

/*WRAPPER GRAPH*/
.wrapperGraphs {
  width: 60%;
  margin-top: 15px;
  display: flex;
  background-color: grey;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.graphItem {
  flex: 1;
  background-color: white;
  border: 1px solid black;
}

.graphLabel {
  text-align: center;
}